<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card shadow-lg mb-4"
          style="border-radius: 0.5rem; background-color: #ffffff"
        >
          <div class="card-body p-5">
            <h1 class="mb-2 text-center">Bug Tracker</h1>
            <h3 class="mb-2 text-center">Demo Login</h3>
            <div class="profiles-container">
              <div class="admin" (click)="onAdminClick()">
                <img class="admin-icon" alt="bug icon" src="assets/admin.png" />
                <p>As Admin</p>
              </div>
              <div class="user" (click)="onUserClick()">
                <img class="user-icon" alt="bug icon" src="assets/user.png" />
                <p>As User</p>
              </div>
            </div>
            <mat-divider class="mb-2"></mat-divider>
          </div>

          <div class="text-center mb-4">
            <a routerLink="/login">Back to login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
