<table
  id="table"
  mat-table
  [dataSource]="datasource"
  class="table table-striped table-bordered table-hover table-sm"
>
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let ticket" (click)="OnTicketClick(ticket.id)">
      <u>{{ ticket.id }}</u>
    </td>
  </ng-container>

  <ng-container matColumnDef="CreationDate">
    <th mat-header-cell *matHeaderCellDef>Creation date</th>
    <td mat-cell *matCellDef="let ticket">
      {{ ticket.addedOn.toLocaleString() | dateTimeFormat }}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let ticket">
      {{ ticket.title }}
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let ticket">
      {{ ticket.description }}
    </td>
  </ng-container>

  <ng-container matColumnDef="creator">
    <th mat-header-cell *matHeaderCellDef>Ticket creator</th>
    <td mat-cell *matCellDef="let ticket">
      {{
        ticket.ticketCreator?.firstName + " " + ticket.ticketCreator?.lastName
      }}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let ticket">
      <span
        class="status-bean"
        [ngClass]="{
          'closed-ticket': ticket.status == 'CLOSED'
        }"
      >
        <p class="ticket-status">{{ ticket.status }}</p>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-divider></mat-divider>
<mat-paginator class="paginator" [pageSizeOptions]="[5, 10]" [pageSize]="5">
</mat-paginator>
