.select-container{
    width: 100%;
    padding-right: 0;
}

.select-container, .members-container{
    display: inline-block;
    width: 100%;
    margin: 0 1%; 
}

.members{
    display: block;
    width: 100%;
}
::ng-deep .mat-mdc-snack-bar-container.success-snackbar  {
    --mat-mdc-snack-bar-button-color: #ff0000;
    --mdc-snackbar-container-color: #10c300;
    --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
    --mdc-snackbar-supporting-text-font: 200;
  }
  ::ng-deep .mat-mdc-snack-bar-container.failure-snackbar {
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-container-color: #c30000;
    --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
    --mdc-snackbar-supporting-text-font: 200;
  }